.Conteudo{
	color: #777;
	background-color: white;
	text-align: justify;
	padding: 50px 80px;
}



/*Configurações Padrões*/

body, html{
	margin: 0;
	font: 16px "Lato", sans-serif;
	color: #777;
	height: 100%;
}

h3{
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

/*Efeito Parallax*/
.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 , .caixa7 {
	position: relative;
	height: 100%;
	opacity: 0.8;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


p{
	margin-bottom: 20px;
}


.caixa1{
	background-image: url(imagens/imagem1.jpg);

}

.caixa2{
  background-image: url(imagens/imagem2.jpg);
}

.caixa3{
  background-image: url(imagens/imagem3.jpg);
}

.caixa4{
  background-image: url(imagens/imagem4.jpg);
}

.caixa5{
  background-image: url(imagens/imagem5.jpg);
}

.caixa7{
  background-image: url(imagens/t.jpg);
}

.conteudo-titulo{
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	text-align: center;
}
.conteudo-titulo span.titulo{
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

#navegação ul li a{
	text-decoration: none;
}

#navegação ul li{
	list-style: none;
	display: inline;
	padding: 10px;
	text-transform: uppercase;
}

#navegação ul{
	margin-top: 50px;
	text-align: center;

}


#navegação ul li a{
	font-weight: bold;
	color:#111;

	
}

#navegação ul li a:hover{
	background-color: #111;
	color: #fff;
	padding: 10px;

	
}

#box{
	box-shadow: 0 10px 10px grey;
	padding: 10px;

}

#box{
	background-image: url(imagens/TT.png) ;
	background-repeat: repeat-y;
	background-position: left;

}

#rodape{
	text-align: center;
}

span{
	font-weight: bold;
}

body.home #box #navegação a#home,
body.contato #box #navegação a#contato{
	background-color: #111;
	color: #fff;
	padding: 10px;

}